<app-header></app-header>
<header class="py-5 bg-image-full product_bg">
    <div class="text-center my-5">

        <h1 class="text-white fs-3 fw-bolder">Stay here </h1>
        <p class="text-white-50 mb-0">Your are welcome inn our web static website...Ghodbani Abdessalem TWIN_7 </p>
    </div>
</header>
<div class=" d-flex justify-content-around"></div>
<section class="py-5">
    <div class="container my-5 ">
        <div class="col d-flex justify-content-center">
            <div class="col-5 p-5 m-2">
                <h2 style="text-align:center">First Fournisseur </h2>

                <div class="card">
                    <img src="assets/images/newsstand-cuate.png" alt="first_founisseur">
                    <h1 class="m-3">first fournisseur</h1>

                    <p class="m-3">you can show information from here....your are welcome</p>
                    <div class="p-2 d-flex justify-content-center">

                        <button mat-fab extended color="primary" routerLink="first_founisseur">
                            Show More
                            <mat-icon>arrow_right_alt</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-5 p-5 ">
                <h2 style="text-align:center">Liste of product</h2>

                <div class="card">
                    <img src="assets/images/newsstand-amico.png" alt="">
                    <h1 class="m-3">List of product in our country</h1>

                    <p class="m-3">you can show information from here....your are welcome</p>
                    <div class="p-2 d-flex justify-content-center">

                        <button mat-fab extended color="primary" routerLink="liste_produit">
                            Show More
                            <mat-icon>arrow_right_alt</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>



</section>


<!-- Footer-->
<footer class="py-5 product_bg">
    <div class="container">
        <p class="m-0 text-center text-white">Made by Abdessalem TWIN_7</p>
    </div>
</footer>